<div class="flex items-center justify-between w-full h-20 p-5 bg-slate-700">
	<div>
		<%= link_to "PET GARDEN", root_path, class: "text-white" %>
	</div>
	<div>
		
		<% if current_user.present? %>
			<div class="text-white">
				<%= link_to current_user.email, root_path %>
				<%= link_to '登出', destroy_user_session_path, data: { turbo_method: 'delete' } %>
			</div>
		<% else %>
			<%= link_to '註冊', new_user_registration_path, class: "text-white m-5" %>
			<%= link_to '登入', new_user_session_path, class: "text-white m-5" %>
		<% end %>
	</div>
</div>